*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(52,5,46);
    background: linear-gradient(142deg, rgba(52,5,46,1) 0%, rgba(189,0,156,1) 65%, rgba(0,168,255,1) 100%);
    transition: background-color 1s ease;

}
body.cambioDeFondo {
    background: rgb(0,168,255);
    background: linear-gradient(142deg, rgba(0,168,255,1) 0%, rgba(189,0,156,1) 80%, rgba(52,5,46,1) 100%);
    transition: background-color 1s ease;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
form{

    display: flex;
    flex-direction: column;

}
nav{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 50vw;
}
.botonMenu{
    border-radius: 5px;
    height: 35px;
    width: 200px;
    border: none;
    outline: none;
    padding-left: 10px;
}
input{
    margin-bottom: 15px;
    border-radius: 5px;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
}
section{
    display: grid;
    grid-template-columns: 0px 1fr ;
    grid-template-rows: auto 1fr ;
    height: 50vh;
    width: 100vw;
}
.Regresar{
    grid-column: 1;
    grid-row: 1;
    width: 100px;
    height: 50px;
    background: rgb(52,5,46);
    background: linear-gradient(142deg, rgba(52,5,46,1) 0%, rgba(189,0,156,1) 65%, rgba(0,168,255,1) 100%);
    color: white;
    border: none;
}
#miSaldo{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    align-self: self-end;
    font-size: 100px;
}
div{
    height: 50vh;
    width: 100vw;   
    display: flex;
    align-items: self-start;
}
.DIV2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    color: red;

}
.hide{

    display: none;

}

